html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-do__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 2px solid #000000;
  box-shadow: 2px 0 5px 5px #888888;
  height: 60rem;
  width: 40rem;
}

.toDo__list__notCompleted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toDo__list__notCompleted--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.toDo__item__notCompleted--text {
  font-size: 2em;
}

h3 {
  font-size: 2em;
}

.toDo__item__notCompleted,
.toDo__item__Completed {
  font-size: 2em;
}

.buttons {
  margin-top: 2em;
}

.date {
  font-size: 2.5em;
  margin: 1em;
  align-self: flex-start;
}

.date p {
  margin: 0.2em;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__toDo {
  height: 3em;
  width: 35rem;
  font-size: 1em;
}

.fa-plus {
  font-size: 3em;
}
/* 

.screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: rgb(233, 236, 239);
    border-radius: .25rem;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    margin: 2rem 0;
    height: 3rem;
    width: 35rem;
    font-size: 5.11rem;
    }

.screen p {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        white-space: nowrap;
        width: 40rem;
        height: 5rem;
        
        overflow: hidden;
        text-overflow: clip;
        
    }

.calculator__buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-around;
    background-color: #ffffff;
    border-radius: .25rem;
    width: 30rem;
    }

button {
    font-size: 3rem;
    text-align: center;
    width: 8rem;
    height: 5rem;
    margin: 0.5rem;
    cursor: pointer;
    font-family: digital;
}

.button__equal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 23rem;
    width: 8rem;
    background-color: #4d90fd;
    color: #ffffff
} */
