html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-do__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 2px solid #000000;
  box-shadow: 2px 0 5px 5px #888888;
  height: 60rem;
  width: 40rem;
}

.toDo__list__notCompleted,
.toDo__list__completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toDo__list__notCompleted--item,
.toDo__list__Completed--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.toDo__item__notCompleted--text,
.toDo__item__Completed--text {
  font-size: 2em;
}

h3 {
  font-size: 2em;
}

.toDo__item__notCompleted,
.toDo__item__Completed {
  font-size: 2em;
}

.buttons {
  margin-top: 2em;
}

.date {
  font-size: 2.5em;
  margin: 1em;
  align-self: flex-start;
}

.date p {
  margin: 0.2em;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__toDo {
  height: 3em;
  width: 35rem;
  font-size: 1em;
}

.fa-plus {
  font-size: 3em;
}

.turnedOff {
  display: none;
}
